---
import { Image } from "astro:assets";
import logoMain from "../assets/navbar-logo.png";

interface Props {
  urlAboutMe?: string;
  urlExperience?: string;
  urlProjects?: string;
}

const { urlAboutMe = "#presentation", urlExperience = "#experience", urlProjects = "#projects"} = Astro.props;

---

<header class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="md:flex md:items-center md:gap-12">
        <a class="block text-teal-600" href="/">
          <span class="sr-only">Home</span>
          <Image src={logoMain} class="w-10 h-10" alt="" srcset="" />
        </a>
      </div>

      <div id="menu-open">
        <nav aria-label="Global">
          <ul class="flex items-center gap-4 text-pii-green">
            <li>
              <a class="text-gray-500 transition hover:text-pii-green-bg/70" href={urlAboutMe}> About me </a>
            </li>

            <li>
              <a class="text-gray-500 transition hover:text-pii-green-bg/70" href={urlExperience}> Experience </a>
            </li>

            <li>
              <a class="text-gray-500 transition hover:text-pii-green-bg/70" href={urlProjects}> Projects </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="flex items-center gap-4">
        <div class="block md:hidden">
          <!-- <button id="menu-button" class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button> -->
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  /* const buttonMenu = document.querySelector("#menu-button") as Element;
  const menuOpen = document.querySelector('#menu-open') as Element;

  document.addEventListener("astro:page-load", () => {

    console.log("astro-load");
    buttonMenu.addEventListener("click", () => {
      menuOpen.classList.toggle("hidden");
    })
  }) */
  
</script>
