---
import Github from "../icons/Github.astro"
import Linkedin from "../icons/Linkedin.astro"
import Twitter from "../icons/Twitter.astro"
import Email from "../icons/Email.astro"
---

<div id="presentation" class="mt-5 flex flex-col justify-center items-center text-center">
        
        <div class="flex flex-col justify-center items-center">
            <img src="images/profile.png" alt="Francisco Cervantes" class="rounded-full w-3/4 h-3/4">
            <h1 class="mt-4 text-4xl text-pii-gray">Francisco Cervantes</h1>
            <p class="mt-2 text-2xl text-pii-green">Software Engineer</p>
        </div>
        
        <div class="basis-full  mx-28 mt-4 w-3/4 md:w-1/2">
            <p class="text-pii-gray">
                I'm a Software engineer with 5 years of experience creating scalable and efficient software solutions 
                across web and mobile platforms. I’m passionate about continuous learning, enjoy tackling new challenges, 
                and take pride in being proactive, organized, and accountable. I thrive in collaborative environments 
                and always strive to deliver high-quality results that drive project success.
            </p>
        </div>
        <div id="social-networks" class="mt-10 flex gap-4 text-pii-green">
            <a class="transform hover:scale-110 duration-300 ease-in-out" href="https://github.com/FranciscoJCC" target="_blank">
                <Github />
            </a>
            <a class="transform hover:scale-110 duration-300 ease-in-out" href="http://https://www.linkedin.com/in/francisco-candelario/" target="_blank">
                <Linkedin />
            </a>
            <a class="transform hover:scale-110 duration-300 ease-in-out" href="https://twitter.com/FcoCandelario" target="_blank">
                <Twitter />
            </a>
            <a class="transform hover:scale-110 duration-300 ease-in-out" href="mailto:fjccandelario@gmail.com">
                <Email />
            </a>
        </div>
</div>