---
import Card from "../components/Card.astro"
import { PROJECTS } from "../consts/projects"
import ButtonPrimary from "../components/ButtonPrimary.astro";

/* Solo proyectos principales */
const listProjects = PROJECTS.filter((project) => project.main == true);

---

<div id="projects" class="mx-10 mt-12">
  <div class="flex justify-center mb-5">
    <div class="w-auto">
      <h2 class="text-pii-gray text-center text-3xl mx-14 mb-3">
        Recent Projects
      </h2>
      <div class="pt-separator-div"></div>
    </div>
  </div>

  <div class="mt-8">
    <div class="grid grid-cols-1 md:grid-cols-4 md:gap-4 md:mx-10">
      {
        listProjects.map((project) => (
          <Card
              title= { project.title }
              urlProject= { project.urlProject }
              urlGithub= { project.urlGithub }
              description= { project.description }
              photo= { project.photo }
              slug= { project?.slug }
              tags= { project.tags }
          />
        ))
      }
    </div>

    <div class="flex justify-center text-center my-4">
      <ButtonPrimary text="View all Projects" url="/projects" />
    </div>
  </div>
</div>
