---
import Card from "../components/Card.astro"
import { PROJECTS } from "../consts/projects"

/* Ultimos 4 cuatro proyectos */
const listProjects = PROJECTS.slice(PROJECTS.length - 4);

---

<div id="experience" class="mx-10 mt-12">
  <div class="flex justify-center mb-5">
    <div class="w-auto">
      <h2 class="text-pii-gray text-center text-3xl mx-14 mb-3">
        Recent Projects
      </h2>
      <div class="pt-separator-div"></div>
    </div>
  </div>

  <div class="mt-4">
    <!--
  Heads up! 👋

  Custom CSS:
    - animate-background https://github.com/markmead/hyperui/blob/main/tailwind.preset.js
-->
    <div class="grid grid-cols-1 md:grid-cols-4 md:gap-4 mx-10">
      {
        listProjects.map((project) => (
          <Card
              title= { project.title }
              urlProject= { project.urlProject }
              urlGithub= { project.urlGithub }
              photo= { project.photo }
              slug= { project?.slug }
              tags= { project.tags }
          />
        ))
      }
    </div>

    <div class="flex justify-center text-center my-4">
      <a class="bg-pii-green-bg px-4 py-2 rounded-full text-pii-green transform hover:scale-105 duration-300 ease-in-out" href="/projects">
        View All Projects
      </a>
    </div>
  </div>
</div>
