---
---

<div id="experience" class="mx-10 mt-12">
  <div class="flex justify-center mb-5">
    <div class="w-auto">
      <h2 class="text-pii-gray text-center text-3xl mx-14 mb-3">Experience</h2>
      <div class="pt-separator-div"></div>
    </div>
  </div>

  <div class="timeline mt-4">
    <div class="timeline-row">
      <div class="timeline-time">
        <p class="md:text-2xl">High Power de México<small>May 24 - Actually</small></p>
      </div>
      <div class="timeline-content">
        <!-- <i class="icon-attachment"></i> -->
        <h4 class="text-pii-green font-bold tracking-widest text-sm md:text-xl truncate">Development Leader</h4>
        <p class="text-pii-gray">
          As a Development Coordinator, I led a team of developers to design, implement, and maintain software solutions. My responsibilities included project planning,
          resource allocation, and ensuring the timely delivery of high-quality products.
        </p>
      </div>
    </div>

    <div class="timeline-row">
      <div class="timeline-time">
        <p class="md:text-2xl">Billpocket<small>Aug 22 - Nov 23</small></p>
      </div>
      <div class="timeline-content">
        <!-- <i class="icon-attachment"></i> -->
        <h4 class="text-pii-green font-bold tracking-widest text-sm md:text-xl truncate">Infrastructure Administrator</h4>
        <p class="text-pii-gray">
          We managed to standardize the offices in different countries.
          Implementation of a web application for access control, CCTV,
          inventories, and traditional infrastructure for the offices
        </p>
      </div>
    </div>

    <div class="timeline-row">
      <div class="timeline-time ">
        Gateway Fabrication Solutions<small>May 22 - Aug 22</small>
      </div>
      <div class="timeline-content">
        <h4 class="text-pii-green font-bold tracking-widest text-sm md:text-xl truncate">Full Stack Developer</h4>
        <p class="text-pii-gray">
          I implemented a web application for order tracking, raw material
          inventory, and computer equipment inventory
        </p>
      </div>
    </div>

    <div class="timeline-row">
      <div class="timeline-time">
        Softlaw<small>Jul 21 - May 22</small>
      </div>
      <div class="timeline-content">
        <h4 class="text-pii-green font-bold tracking-widest text-sm md:text-xl truncate">Full Stack Developer</h4>
        <p class="text-pii-gray">
          I developed a web application to manage dispatch collections. The
          system allows the creation of contact campaigns via phone calls, text
          messages, and email
        </p>
      </div>
    </div>

    <div class="timeline-row">
      <div class="timeline-time">
        Teletón México Foundation A.C.<small>Feb 14 - Jul 21</small>
      </div>
      <div class="timeline-content">
        <h4 class="text-pii-green font-bold tracking-widest text-sm md:text-xl truncate">Systems Assistant</h4>
        <p class="text-pii-gray">
          I developed an electronic agenda so that patients could consult their
          appointments, debts and important announcements in a web application
        </p>
      </div>
    </div>

    <!-- <div class="timeline-row">
            <div class="timeline-content">
                <p class="m-0">Loading...</p>
            </div>
        </div> -->
  </div>

  <div class="mt-3">
    <div class="flex justify-center">
        <a  
            class="text-pii-green underline underline-offset-2"
            href="https://drive.google.com/file/d/1rwi0OJmRCtpiXT-USCO4qSJtUT4vezZk/view?usp=sharing"
            target="_blank">
                View full resume 
        </a>
    </div>
  </div>
</div>

<style>
  .timeline {
    position: relative;
    /* background: #272e48; */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5rem;
    margin: 0 auto 1rem auto;
    overflow: hidden;
  }
  .timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    border-right: 2px dashed #49b1a74d; /*linea punteada */
    height: 100%;
    display: block;
  }

  .timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
  }
  .timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 15px;
    text-align: right;
    margin-right: 20px;
    color: #49B1A6; /*color titulo fuera de la caja*/
    font-size: 1.5rem;
  }
  .timeline-row .timeline-time small {
    display: block;
    font-size: 0.8rem;
  }
  .timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
    background: rgba(
      236,
      232,
      240,
      0.1
    ); /* color del fondo de los items del timeline*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  /* .timeline-row .timeline-content:after {
    content: "d";
    position: absolute;
    top: 20px;
    height: 16px;
    width: 16px;
    background: var(--color-green); color de rombo en la carta
} */
  .timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -49px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 10;
    background: #49B1A6; /* color del punto de la linea del tiempo*/
    border: 2px dashed #49B1A6;
  }
  .timeline-row .timeline-content h4 {
    margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
  }
  .timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
  }
  .timeline-row .timeline-content i {
    font-size: 1.2rem;
    line-height: 100%;
    padding: 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: red; /* color del circulo rojo dentro la carta*/
    margin-bottom: 10px;
    display: inline-block;
  }
  .timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
    display: flex;
  }
  .timeline-row .timeline-content .thumbs img {
    margin: 5px;
    max-width: 60px;
  }
  .timeline-row .timeline-content .badge {
    color: #ffffff;
    background: linear-gradient(120deg, #00b5fd 0%, #0047b1 100%);
  }
  .timeline-row:nth-child(even) .timeline-content {
    margin-left: 40px;
    text-align: left;
  }
  .timeline-row:nth-child(even) .timeline-content:after {
    left: -8px;
    right: initial;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(-135deg);
  }
  .timeline-row:nth-child(even) .timeline-content:before {
    left: -52px;
    right: initial;
  }
  .timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
  }
  .timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
  }
  .timeline-row:nth-child(odd) .timeline-content {
    margin-right: 40px;
  }
  .timeline-row:nth-child(odd) .timeline-content:after {
    right: -8px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
  }

  @media (max-width: 992px) {
    .timeline {
      padding: 15px;
    }
    .timeline:after {
      border: 0;
    }
    .timeline .timeline-row:nth-child(odd) {
      padding: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-time {
      position: relative;
      top: 0;
      left: 0;
      margin: 0 0 10px 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content {
      margin: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:before {
      display: none;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
      display: none;
    }
    .timeline .timeline-row:nth-child(even) {
      padding: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-time {
      position: relative;
      top: 0;
      left: 0;
      margin: 0 0 10px 0;
      text-align: left;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content {
      margin: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:before {
      display: none;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:after {
      display: none;
    }
  }
</style>
